<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitkits">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Auth.Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chart.Activities.MyStatsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity android:name=".chart.Activities.BarChartActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_k8BDqVb0qB2C5K" />

        <activity
            android:name=".Subscriptions.SubscriptionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Misc.Activities.SleepActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Misc.Activities.MyTransformationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Misc.Activities.PreviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".OnBoarding.Activities.OnboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Home.Activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Goals.Activities.GoalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Misc.Activities.MyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name=".Misc.Activities.LinkSocialMediaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LinkSocialTheme" />
        <activity
            android:name=".News.Activities.NewsDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NewsTheme" />
        <activity
            android:name=".Analytics.Calories.CalorieGraphDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CalorieGraphAppTheme" />
        <activity
            android:name=".Analytics.Sleep.SleepGraphDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SleepGraphAppTheme" />
        <activity
            android:name=".Analytics.ActiveHours.ActiveHoursGraphDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActiveHoursGraphAppTheme" />
        <activity
            android:name=".Analytics.Weight.WeightGraphActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WeightGraphAppTheme" />
        <activity
            android:name=".Analytics.Weight.WeightGraphDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WeightGraphAppTheme" />
        <activity
            android:name=".Analytics.ActiveHours.ActiveHoursGraphActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActiveHoursGraphAppTheme" />
        <activity
            android:name=".Analytics.Sleep.SleepGraphActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SleepGraphAppTheme" />
        <activity
            android:name=".Analytics.Calories.CalorieGraphActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CalorieGraphAppTheme" />
        <activity
            android:name=".Analytics.Water.WaterGraphActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WaterGraphAppTheme" />
        <activity
            android:name=".Analytics.Water.WaterGraphDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WaterGraphAppTheme" />
        <!-- Register the Alarm Receiver -->
        <receiver
            android:name=".Misc.BroadcastReceivers.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.ServerSync"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- [START firebase_service] -->
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->


        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- [END fcm_default_channel] -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fitkits.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>

        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Home.Activities.WebViewActivity" />
        <activity android:name=".Misc.Activities.StudentAssessmentFragmentActivity"></activity>
    </application>

</manifest>